@model WarehouseManagementSystem.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

@using(Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    @Html.ValidationSummary();

    <span>Username:</span>
    @Html.TextBoxFor(x => x.Username)
    <span>Password:</span>
    @Html.TextBoxFor(x => x.Password)

    <button type="submit">Sign in</button>
}